<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696594199470-7fd5pl5omaa0j34b48eunbko805ebdbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696594199470-7fd5pl5omaa0j34b48eunbko805ebdbu</string>
	<key>API_KEY</key>
	<string>AIzaSyCHA6_G4hOGnQ1moKLu1G-LHEuS4qXcvqw</string>
	<key>GCM_SENDER_ID</key>
	<string>696594199470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmao-keeffe.SecondRung</string>
	<key>PROJECT_ID</key>
	<string>cherrypik-26900</string>
	<key>STORAGE_BUCKET</key>
	<string>cherrypik-26900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696594199470:ios:07103b91382f9716</string>
	<key>DATABASE_URL</key>
	<string>https://cherrypik-26900.firebaseio.com</string>
</dict>
</plist>